<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mayubao.kuaichuan">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <!-- bugly need permission start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- bugly need permission end -->

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.ClientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ServerActivity"
            android:theme="@style/AppTheme" />

        <!-- 选择文件UI -->
        <activity
            android:name=".ui.ChooseFileActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 选择文件接收者UI -->
        <activity
            android:name=".ui.ChooseReceiverActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 接收者等待界面UI -->
        <activity
            android:name=".ui.ReceiverWaitingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 文件发送列表界面UI -->
        <activity
            android:name=".ui.FileSenderActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 文件接收列表界面UI -->
        <activity
            android:name=".ui.FileReceiverActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 网页传界面UI-->
        <activity
            android:name=".ui.WebTransferActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>



        <!-- bugly need  start -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.github.mayubao.kuaichuan.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- bugly need  end -->
    </application>

</manifest>
